@font-face {
    font-family: league-font;
    src: url("../assets/fonts/Friz\ Quadrata\ Std\ Medium.otf");
}

@font-face {
    font-family: league-font-bold;
    src: url("../assets/fonts/Friz\ Quadrata\ Std\ Bold.otf");
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    z-index: -4;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: league-font, sans-serif;
    background-image: url("../assets/background_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 0px 50vw black;
    position: relative;
    z-index: 1;
}

body::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: rgb(0 0 0 / 0.2);
    z-index: -5;
}

h1 {
    margin: 0;
    --logo-color: hsl(57, 50%, 50%);
    --logo-border-color: hsl(57, 0%, 25%);
    color: var(--logo-color);
    text-shadow: 2px 0 var(--logo-border-color), -2px 0 var(--logo-border-color),
        0 2px var(--logo-border-color), 0 -2px var(--logo-border-color),
        1px 1px var(--logo-border-color), -1px -1px var(--logo-border-color),
        1px -1px var(--logo-border-color), -1px 1px var(--logo-border-color);
}
