@font-face {
    font-family: league-font;
    src: url("../assets/fonts/Friz\ Quadrata\ Std\ Medium.otf");
}

@font-face {
    font-family: league-font-bold;
    src: url("../assets/fonts/Friz\ Quadrata\ Std\ Bold.otf");
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 5rem;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* height: 100vh;
    margin: 0; */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: league-font, sans-serif;
}
