@font-face {
    font-family: league-font;
    src: url("../assets/fonts/Friz\ Quadrata\ Std\ Medium.otf");
}

@font-face {
    font-family: league-font-bold;
    src: url("../assets/fonts/Friz\ Quadrata\ Std\ Bold.otf");
}

#root,
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-family: league-font, sans-serif;
}

body {
    display: grid;
    padding: 5%;
    grid-template-rows: 1fr 9fr;
}
