.button-container {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

button {
    position: relative;
    color: hsl(57, 50%, 50%);
    font-weight: bolder;
    font-size: 1.2rem;
    background: linear-gradient(hsl(178, 30%, 50%), hsl(178, 30%, 25%));
    transition: all 750ms ease;
    border: none;
    box-shadow: inset 0px 0px 5px black;
}

button:hover::before {
    opacity: 1;
    color: rgb(40, 79, 78);
    display: flex;
    justify-content: center;
    align-items: center;
    content: attr(data-text);
}

button::before {
    position: absolute;
    content: "";
    width: 110%;
    height: 120%;
    top: -10%;
    left: -5%;
    background: linear-gradient(hsl(57, 100%, 75%), hsl(57, 25%, 25%));
    border-radius: 8px;
    opacity: 0;
    transition: opacity 750ms ease;
}

button::after {
    position: absolute;
    content: "";
    width: 110%;
    height: 120%;
    top: -10%;
    left: -5%;
    background: linear-gradient(hsl(57, 100%, 75%), hsl(57, 25%, 25%));
    border-radius: 8px;
    z-index: -1;
    transition: all 500ms ease;
    box-shadow: 0px 0px 50px rgb(40, 79, 78);
}

button:focus::before {
    background: linear-gradient(hsl(57, 50%, 50%), hsl(57, 25%, 25%));
}

button.disabled {
    background: linear-gradient(hsl(178, 30%, 20%), hsl(178, 30%, 25%));
    pointer-events: none;
}

button.disabled::after {
    background: linear-gradient(hsl(57, 100%, 25%), hsl(57, 25%, 25%));
}

.reset-game-btn {
    opacity: 0;
    display: none;
}

.appear {
    opacity: 1;
    display: block;
}

.reset-game-btn::after {
    box-shadow: 0px 0px 20px 10px orange;
}
