img {
    object-fit: cover;
    width: 150px;
    height: 250px;
}

.cards-container {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.card-container {
    transition: all 500ms;
    position: relative;
    width: 150px;
    height: 250px;
    perspective: 1000px;
    overflow: hidden;
    background: transparent;
    border-block: 5px solid black;
    border-inline: 2px solid black;
    background: black;
}

.card-container::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-shadow: inset -10px 0px 15px 1px black, inset 10px 0px 15px 1px black;
    pointer-events: none;
}

.easy-card {
    width: 150px;
    height: 250px;
}

.medium-card {
    width: 85px;
    height: 175px;
}

.hard-card {
    width: 75px;
    height: 135px;
}

.correct-guess {
    box-shadow: 0px 0px 20px limegreen;
}

.wrong-guess {
    box-shadow: 0px 0px 20px red;
}

.card,
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.rotate .card-back {
    transform: rotateY(0deg);
}

.rotate .card {
    transform: rotateY(-180deg);
}

.card {
    object-fit: cover;
    transform: scale(1.5);
}

.rotate {
    pointer-events: none;
}

.card-container:hover {
    transform: translateY(-1rem);
}

@media (max-width: 2600px) {

    h1 {
        font-size: 5rem;
    }

    button {
        font-size: 1.5rem !important;
    }

    .easy-card {
        width: 270px;
        height: 400px;
    }
    
    .medium-card {
        width: 180px;
        height: 290px;
    }
    
    .hard-card {
        width: 135px;
        height: 240px;
    }
}

@media (max-width: 2500px) {

    h1 {
        font-size: 5rem;
    }

    button {
        font-size: 1.5rem !important;
    }

    .easy-card {
        width: 250px;
        height: 380px;
    }
    
    .medium-card {
        width: 170px;
        height: 280px;
    }
    
    .hard-card {
        width: 115px;
        height: 220px;
    }
}

@media (max-width: 2200px) {

    h1 {
        font-size: 5rem;
    }

    button {
        font-size: 1.5rem !important;
    }

    .easy-card {
        width: 230px;
        height: 350px;
    }
    
    .medium-card {
        width: 150px;
        height: 260px;
    }
    
    .hard-card {
        width: 115px;
        height: 220px;
    }
}

@media (max-width: 2025px) {

    h1 {
        font-size: 5rem;
    }

    button {
        font-size: 1.5rem !important;
    }

    .easy-card {
        width: 190px;
        height: 320px;
    }
    
    .medium-card {
        width: 140px;
        height: 250px;
    }
    
    .hard-card {
        width: 115px;
        height: 220px;
    }
}

@media (max-width: 1800px) {

    .cards-container {
        width: 80vw;
    }

    h1 {
        font-size: 5rem;
    }

    button {
        font-size: 1.3rem !important;
    }

    .easy-card {
        width: 170px;
        height: 300px;
    }
    
    .medium-card {
        width: 120px;
        height: 220px;
    }
    
    .hard-card {
        width: 105px;
        height: 190px;
    }
}

@media (max-width: 1500px) {
    #root {
        gap: 1rem;
    }

    h1 {
        font-size: 4rem;
    }

    button {
        font-size: 1.1rem !important;
    }

    .easy-card {
        width: 150px;
        height: 250px;
    }
    
    .medium-card {
        width: 85px;
        height: 175px;
    }
    
    .hard-card {
        width: 75px;
        height: 135px;
    }
}

@media (max-width: 1220px) {
    .cards-container {
        width: 80vw;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    button {
        font-size: 1rem !important;
    }

    .easy-card {
        width: 110px;
        height: 200px;
    }
    
    .medium-card {
        width: 100px;
        height: 160px;
    }
    
    .hard-card {
        width: 75px;
        height: 125px;
    }
}

@media (max-width: 1000px) {
    .cards-container {
        width: 85vw;
    }

    .medium-card {
        width: 90px;
        height: 150px;
    }
 }

@media (max-width: 900px) {

    .cards-container {
        width: 90vw;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.1rem;
    }

    button {
        padding: 0.6rem 1rem;
        font-size: 1rem !important;
    }

    .easy-card {
        width: 110px;
        height: 210px;
    }
    
    .medium-card {
        width: 85px;
        height: 175px;
    }
    
    .hard-card {
        width: 70px;
        height: 125px;
    }
}

@media (max-width: 500px) {

    #root {
        gap: 1.3rem;
    }

    .cards-container {
        width: 90vw;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 0.6rem;
    }

    .lives {
        top: 0.5rem !important;
    }

    .scores {
        top: 0.5rem !important;
        right: 0.5rem !important;
    }

    button {
        padding: 0.6rem 1rem;
        font-size: 0.8rem !important;
    }

    .cards-container {
        gap: 0.9rem;
    }

    .easy-card {
        width: 75px;
        height: 155px;
    }
    
    .medium-card {
        width: 60px;
        height: 120px;
    }
    
    .hard-card {
        width: 50px;
        height: 100px;
    }
}

@media (max-width: 400px) {

    #root {
        gap: 1.1rem;
    }

    .cards-container {
        width: 95vw;
    }

    .card-container:hover {
        transform: translateY(-0.6rem);
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 0.55rem;
    }

    .lives {
        top: 0.5rem !important;
        left: 0.5rem !important;
    }
    
    .lives > h2 {
        font-size: 0.7rem !important;
    }

    .scores {
        top: 0.5rem !important;
        right: 0.25rem !important;
    }

    button {
        padding: 0.6rem 1rem;
        font-size: 0.7rem !important;
    }

    .cards-container {
        gap: 0.8rem;
    }

    .easy-card {
        width: 70px;
        height: 150px;
    }
    
    .medium-card {
        width: 55px;
        height: 110px;
    }
    
    .hard-card {
        width: 45px;
        height: 100px;
    }
}

@media (max-width: 350px) {

    #root {
        gap: 0.9rem;
    }

    .cards-container {
        width: 100vw;
    }

    .card-container:hover {
        transform: translateY(-0.4rem);
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 0.5rem;
    }

    .lives {
        top: 0.5rem !important;
        left: 0.5rem !important;
    }
    
    .lives > h2 {
        font-size: 0.7rem !important;
    }

    .scores {
        top: 0.5rem !important;
        right: 0.25rem !important;
    }

    button {
        padding: 0.6rem 1rem;
        font-size: 0.6rem !important;
    }

    .cards-container {
        gap: 0.6rem;
    }

    .easy-card {
        width: 70px;
        height: 150px;
    }
    
    .medium-card {
        width: 55px;
        height: 110px;
    }
    
    .hard-card {
        width: 50px;
        height: 90px;
    }
}