img {
    object-fit: cover;
    width: 150px;
    height: 250px;
}

.cards-container {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.card-container {
    transition: all 500ms;
    position: relative;
    width: 150px;
    height: 250px;
    perspective: 1000px;
    overflow: hidden;
    background: transparent;
    border-block: 5px solid black;
    box-shadow: 0px 0px 10px black;
    background: black;
}

.correct-guess {
    box-shadow: 0px 0px 20px limegreen;
}

.wrong-guess {
    box-shadow: 0px 0px 20px red;
}

.card,
.card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}

.rotate .card-back {
    transform: rotateY(0deg);
}

.rotate .card {
    transform: rotateY(-180deg);
}

.card {
    object-fit: cover;
    transform: scale(1.5);
    /* pointer-events: auto; */
}

.rotate {
    pointer-events: none;
}

.card-container:hover {
    transform: translateY(-1rem);
}