.difficulty-container {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.difficulty-button {
    position: relative;
    color: hsl(57, 50%, 50%);
    font-weight: bolder;
    font-size: 1.2rem;
    background: linear-gradient(hsl(178, 30%, 50%), hsl(178, 30%, 25%));
    transition: all 750ms ease;
    border: none;
    box-shadow: inset 0px 0px 5px black;
}

.difficulty-button:hover::before {
    opacity: 1;
    color: rgb(40, 79, 78);
    display: flex;
    justify-content: center;
    align-items: center;
    content: attr(data-text);
}

.difficulty-button::before {
    position: absolute;
    content: "";
    width: 110%;
    height: 120%;
    top: -10%;
    left: -5%;
    background: linear-gradient(hsl(57, 100%, 75%), hsl(57, 25%, 25%));
    border-radius: 8px;
    opacity: 0;
    transition: opacity 750ms ease;
}

.difficulty-button::after {
    position: absolute;
    content: "";
    width: 110%;
    height: 120%;
    top: -10%;
    left: -5%;
    background: linear-gradient(hsl(57, 100%, 75%), hsl(57, 25%, 25%));
    border-radius: 8px;
    z-index: -1;
    transition: all 500ms ease;
    box-shadow: 0px 0px 50px rgb(40, 79, 78);
    /* inset 0px 0px 5px black; */
}
