.scores {
    color: hsl(57, 50%, 50%);
    position: absolute;
    right: 1rem;
    top: 1rem;
    --logo-border-color: hsl(57, 0%, 25%);
    text-shadow: 2px 0 var(--logo-border-color), -2px 0 var(--logo-border-color),
        0 2px var(--logo-border-color), 0 -2px var(--logo-border-color),
        1px 1px var(--logo-border-color), -1px -1px var(--logo-border-color),
        1px -1px var(--logo-border-color), -1px 1px var(--logo-border-color);
}

.lives {
    color: hsl(57, 50%, 50%);
    position: absolute;
    left: 1rem;
    top: 1rem;
    --logo-border-color: hsl(57, 0%, 25%);
    text-shadow: 2px 0 var(--logo-border-color), -2px 0 var(--logo-border-color),
        0 2px var(--logo-border-color), 0 -2px var(--logo-border-color),
        1px 1px var(--logo-border-color), -1px -1px var(--logo-border-color),
        1px -1px var(--logo-border-color), -1px 1px var(--logo-border-color);
}
